body,
html {
    overflow-y: hidden;
    height: 100%;
}

body.tela_login{
    margin: 0;
    background-color: #FDEDEE;
    height: 100vh;
    overflow: hidden;
}



.area_principal {
    width: 100vw;
    height: 100vh;
}

header {
    margin: 1.3rem 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin-top: 0.6rem;
    flex: 0;
}

#ajuda {
    flex: 0;
}

.principal {
    width: 100%;
}

.img-fundo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#tela_login {
    width: 500px;
    margin-left: 100px;
}

.continuar {
    background: white;
    border-radius: 15px;
    width: 80%;
    height: 93%;
    box-shadow: 10px 4px 120px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 0 auto;
}

h1 {
    font-weight: 700;
    font-size: 2.5em;
    margin: 1.2rem;
}

h1,
h2 {
    text-align: center;
}

/* ENTRAR NO SITE */

.entrar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: center;
}

#cont_face_img {
    background-color: white;
    margin-right: 3rem;
    text-align: center;
    border-radius: 15px;
    align-items: center;
    display: flex;
}


.botao-social {
    width: 100%;
    display: flex;
    justify-content: center;
}

.botao-social a{
    text-decoration: none;
}

#face,
#google {
    font-weight: 800;
    border: 1px solid #ccc;
    padding: 10px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: 420px;
    font-size: 1.1rem;
}

#face {
    background: #145dbf;
    color: white;
    margin: 1.8rem;
}

#face:hover {
    cursor: pointer;
    background-color: #87b3f1;
}

#cont_google_img {
    margin-right: 3rem;
    text-align: center;
    border-radius: 15px;
    align-items: center;
    display: flex;
}

#google{
    color: black;
}

#google:hover {
    background-color: #f5fcfc;
    cursor: pointer;
}

#meios {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.7rem;
}


.botoes {
    display: flex;
    gap: 1.5rem;
    /* Quebra linha se faltar espaço */
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}


.botoes a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    color: #a6a6a6;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    transition: background 0.3s, color 0.3s;
    max-width: 200px;
    min-width: 100px;
    text-align: center;
}

.botoes a:hover {
    background: #ea1d2c;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
}